
<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id placeat quae eius quis ad nostrum, totam cumque, dicta numquam at rerum. Illum quam eaque placeat ad veniam odit repellendus blanditiis.</h1>

<%= user.